.link {
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  border: 1px solid black;
}

.actual {
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 20px;
  text-decoration: none;
  border: 1px solid black;
}
